@import "reset.css";

body {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: gainsboro;
}

canvas {
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    margin-top: 70px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btns img {
    width: 100px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.btns button, label {
    all: unset;
    width: 200px;
    padding: 10px 0;
    color: rgb(62, 63, 66);
    background-color: rgba(147, 155, 186, 0.3);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: linear .3s;
}

.btns button:hover {
    background-color: rgb(165, 174, 195);
}

.btns label {
    cursor: pointer;
}

.btns #text {
    all: unset;
    background-color: white;
    height: 43px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    text-align: center;
}

.btns #text, #text::placeholder {
    color: rgb(181, 181, 167);
}

.btns #file {
    display: none;
}



/* left-color section */
.color-chip {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
}

.color-option {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform ease-in-out 0.1s;
}

.color-option:hover {
    transform: scale(1.2);
}

#color {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
}
